<nav class="navbar navbar-fixed-top  dark-primary-color primary-text-color">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header nav-logo">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/visaPay">
				<img class="logo" src="../assets/logo.png">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse nav-headings" >
			<ul #visaMainMenu class="nav nav-pills nav-justified">
			<li><a href="/visaPay">Pay With Visa</a></li>
				<li><a href="/partnerUs">Partner With Us</a></li>
				<li><a href="/yourBusiness">Run Your Business</a></li>
				<li><a href="/visaTravel">Travel With Visa</a></li>
				<li><a href="/visaEveryWhere">Visa Everywhere</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>